<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Storage Saver</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/dark_mode.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}" type="text/javascript"></script>
    {% block head %}
    {% endblock%}
    <!-- Fix conflicts with bulma and prism formatting -->
    {% if ignore_highlighting %}
    <style>
        .token.number, .token.tag { all: inherit; } 
    </style>
    {% endif %}
</head>

<body>
    <div id="contextMenu" class="context-menu">
        <ul>
            <li id="context-select" onclick="selectEvent();"><a href="#">Select</a></li>
            <li id="context-rename" onclick="renameEvent();"><a href="#">Rename</a></li>
            <li id="context-copy" onclick="copyEvent();"><a href="#">Copy</a></li>
            <li id="context-paste" onclick="pasteEvent();"><a href="#" style="color: #414141;">Paste</a></li>
            <li id="context-delete" onclick="deleteEvent();"><a href="#">Delete</a></li>
        </ul>
    </div>
  
    <section id="top-level" class="hero is-primary is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div id="menu-container" class="container">
                    <div id="sidebar-menu" state="closed">
                    <!-- <div id="navbarMenuHeroA" class="navbar-menu"> -->
                        <a href="{{ url_for('main.index') }}" class="sidebar-button">
                            {% if current_user.is_authenticated %}
                            <img src="{{ url_for('static', filename='icons/space.png') }}" />
                            {% endif %}
                            Home
                        </a>
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('main.profile') }}" class="sidebar-button">
                            <img src="{{ url_for('static', filename='icons/space.png') }}" />
                            Profile
                        </a>
                        <!-- These routes need to be implemented -->
                        <a href="{{ url_for('main.all_files') }}" class="sidebar-button">
                            <img src="{{ url_for('static', filename='icons/space.png') }}" />
                            All Files
                        </a>
                        <a href="{{ url_for('main.gallery') }}" class="sidebar-button">
                            <img src="{{ url_for('static', filename='icons/gallery.png') }}" />
                            Gallery
                        </a>
                        <a href="{{ url_for('main.file_manager') }}" class="sidebar-button">
                            <img src="{{ url_for('static', filename='icons/space.png') }}" />
                            File Manager
                        </a>
                        <a href="{{ url_for('main.recently_deleted') }}" class="sidebar-button">
                            <img src="{{ url_for('static', filename='icons/archive.png') }}" />
                            Recently Deleted
                        </a>
                        <a href="{{ url_for('main.about_us') }}" class="sidebar-button">
                            <img src="{{ url_for('static', filename='icons/space.png') }}" />
                            About Us
                        </a>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <a href="{{ url_for('auth.login') }}" class="sidebar-button">
                            Login
                        </a>
                        <a href="{{ url_for('auth.signup') }}" class="sidebar-button">
                            Sign Up
                        </a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.logout') }}" style="color: #ce002c;" class="sidebar-button">
                            <img src="{{ url_for('static', filename='icons/logout.png') }}" />
                            Logout
                        </a>
                        {% endif %}
                    </div>
                    <img id="menu-button" title="Menu" src="{{ url_for('static', filename='icons/menuButton.png') }}" onclick="toggleMenu()" alt="Menu" />
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>

        <footer class="hero-footer">
            <p>Storage Saver</p>
            <p><a id="about-link" href="/about" style="color: #32476f;">About</a></p>
        </footer>
    </section>
    
    <div id="scroll-top-container">
        <img id="scroll-to-top" src="{{ url_for('static', filename='icons/scrollTop.png') }}" alt="Scroll Top" />
    </div>

    {% if user_settings %}
    <script type="text/javascript">
        baseLoadSettings(JSON.parse('{{ user_settings | tojson }}'));
    </script>
    {% endif %}

</body>

</html>