{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/prism.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/file_bare.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/file_manager.css') }}">
  <script src="{{ url_for('static', filename='js/format.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/file_bare.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/file_manager.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div id="preview-button" class="file-option-button" onclick="previewFile()">
  <h1 class="file-option-button-label">Preview</h1>
</div>

<div id="file-options" class="file-options">
  <div id="file-count" class="file-option">
    <h1>Files Selected:</h1>
  </div>

  <div title="Rename" id="rename-button" class="file-option-button" onclick="renameEvent()">
    <img src="{{ url_for('static', filename='icons/rename.png')}}" alt="Rename" />
  </div>

  <div title="Copy" id="copy-button" class="file-option-button" onclick="copyEvent()">
    <img src="{{ url_for('static', filename='icons/copy.png')}}" alt="Copy" />
  </div>

  <div title="Paste" id="paste-button" class="file-option-button" onclick="pasteEvent()">
    <img src="{{ url_for('static', filename='icons/paste.png')}}" alt="Paste" />
  </div>

  <div title="Download" id="download-button" class="file-option-button" onclick="downloadFiles()">
    <img src="{{ url_for('static', filename='icons/download.png')}}" style="display: inline-block;" alt="Download" />
    <h1 class="file-option-button-label">Download</h1>
  </div>

  <div title="Select All" id="select-all-button" class="file-option-button" onclick="selectAll()">
    <img src="{{ url_for('static', filename='icons/selectAll.png')}}" style="display: inline-block;" alt="Select all" />
    <h1 class="file-option-button-label">Select All</h1>
  </div>

  <div title="Deselect All" id="deselect-all-button" class="file-option-button" onclick="deselectAll()">
    <img src="{{ url_for('static', filename='icons/blackCross.png')}}" alt="Close selection" />
  </div>

  <div title="Delete" id="delete-button" class="file-option-button" onclick="archiveFiles()">
    <img src="{{ url_for('static', filename='icons/archive.png')}}" alt="Delete" />
  </div>
</div>

<div id="upload-frame" class="upload-frame">
  <div id="upload">
    <label for="upload-button">
      <img id="upload-image"  title="Upload Media" src="{{ url_for('static', filename='icons/uploadButton.png')}}" alt="Upload" />
    </label>
  </div>
  <input type="file" id="upload-button" title="Upload" multiple />
</div>

<h1 class="title">File Manager</h1>
<div id="file-container" class="box">
  <table id="file-manager" class="container">
    <tr class="files-header">
      <td title="Sort by File Name" id="sort-name" class="header-option" onclick="update(NAME)"><div>Name</div></td>
      <td title="Sort by Date Taken/Date Uploaded" id="sort-date" class="header-option" onclick="update('date')"><div><h1>Date Uploaded</h1></div></td>
      <td title="Sort by File Type" id="sort-type" class="header-option" onclick="update(TYPE)"><div>Type</div></td>
      <td title="Sort by File Size" id="sort-size" class="header-option" onclick="update(SIZE)"><div>Size</div></td>
    </tr>
  </table>
</div>

<div id="preview-container" class="preview-container">
  <div id="preview" class="preview"></div>
  <h1 id="close-preview" class="close-button" onclick="closePreview()">Close</h1>
</div>

<div id="upload-queue" class="upload-queue"></div>

<script type="text/javascript">
  allFiles = {{ files | tojson }};
  loadSettings(JSON.parse('{{ user_settings | tojson }}'));
</script>

{% endblock %}