{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
  <script src="{{ url_for('static', filename='js/gallery.js') }}" type="text/javascript"></script>
  {% if pixelated %}
    <style>
      #viewer img { image-rendering: pixelated; }
      .viewer-img-zoom { image-rendering: pixelated; }
    </style>
  {% endif %}
{% endblock %}

{% block content %}

<div id="gallery-container" class="container">
  <div id="buttons-menu" class="navbar-menu">

    <div id="info">
      <img id="info-button" title="Details" class="menu-button" src="{{ url_for('static', filename='icons/info.png')}}" onclick="toggleDetails()" alt="Details" />
    </div>

    <div id="upload">
      <label for="upload-button">
        <img id="upload-image"  title="Upload Media" class="menu-button" src="{{ url_for('static', filename='icons/uploadButton.png')}}" alt="Upload" />
      </label>
    </div>
    <input type="file" id="upload-button" title="Upload" accept="image/png, image/jpeg" multiple />

    <div id="selection-buttons">
      <div title="Select All" id="select-all-button" class="selection-button" onclick="selectAll()">
        <img src="{{ url_for('static', filename='icons/selectAll.png')}}" style="display: inline-block;" alt="Select all" />
        <h1 class="selection-button-label">Select All</h1>
      </div>

      <div title="Deselect All" id="deselect-all-button" class="selection-button" onclick="deselectAll()">
        <img src="{{ url_for('static', filename='icons/blackCross.png')}}" alt="Close selection" />
      </div>

      <div title="Delete" id="delete-button" class="selection-button" onclick="deleteImages()">
        <img src="{{ url_for('static', filename='icons/deleteButton.png')}}" alt="Delete" />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="viewer">
    <div style="height: 90%; width: 60%; display: grid; resize: both;">
      <img id="viewer-img" class="viewer-img" src="" alt="Viewer" />
    </div>
    <div id="viewer-zoom" class="viewer-img-zoom" alt="Result"></div>
    <div id="info-panel" class="info-panel" style="display: none;"></div>
  </div>
</div>


<script type="text/javascript">
  let buttonsMenu = document.getElementById("buttons-menu");
  let heroHead = document.getElementsByClassName("hero-head")[0];
  heroHead.appendChild(buttonsMenu.parentElement);
</script>

<h1 class="title">
  Photo Gallery
</h1>

<div id="gallery-box" class="box">
  <div class="overlay-content">
    <span class="spinner"></span>
  </div>
  <h1 id="label-nothing" class="subtitle" style="color:black; margin:20rem auto;">There's nothing here.. Add something?</h1>
  {% for key, value in images.items() %}
    <script type="text/javascript">
      createGalleryItem("{{ key.split(':')[1] }}", "{{ value }}");
    </script>
  {% endfor %}
  <script type="text/javascript">
    destroyLoadingScreen();
  </script>
</div>
<div id="upload-queue"></div>

{% endblock %}