::-webkit-scrollbar {
    width: 1.4rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0px 0px 20px rgb(0, 184, 156);;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 0.45rem;
}

html {
    overflow: auto;
}

#menu-button {
    max-width: 100%;
    max-height: 100%;

    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;

    height: 5.6rem;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 1.3rem;
    position: relative;

    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
}

#menu-container {
    position: fixed;
}

#menu-button:hover {
    background: #00b89c;
}

.sidebar-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 1.5;
    padding: .5rem .75rem;
    position: relative;
    background: #00b89c;
    border-radius: 0.5rem;
    font-size: 1.6rem;
}

.sidebar-button:hover, .sidebar-button:focus {
    background: #0b907c;
}

#sidebar-menu {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    white-space: nowrap;
    
    max-width: 0;
    max-height: 50rem;
    overflow: hidden;
    background: #00b89c;
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    padding: 1rem;
    padding-inline: 0;
    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

/* make sure notification overlay is on top of navigation buttons */
.navbar {
    z-index: 6;
}

.notification-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7;
}
.notification {
    background: rgba(255, 255, 255);
    display: flex;
    border-radius: 0.5rem;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1rem;
}

#confirm-button {
  background: #b8b2b2;
}
#confirm-button:hover {
  background: #7e7e7e;
}

#cancel-button {
  background: #00b89c;
}
#cancel-button:hover {
  background: #09907b;
}

.row {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
}

.row h1 {
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
