
#menu-button {
    max-width: 100%;
    max-height: 100%;

    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;

    height: 5.6rem;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 1.3rem;
    position: relative;

    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
}

#menu-container {
    position: absolute;
}

#menu-button:hover {
    background: #00b89c;
}

.sidebar-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 1.5;
    padding: .5rem .75rem;
    position: relative;
    background: #00b89c;
    border-radius: 0.5rem;
    font-size: 1.6rem;
}

.sidebar-button:hover {
    background: #0b907c;
}

#sidebar-menu {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    background: #00b89c;
    border-radius: 0.5rem;
    padding: 0;
    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}