.upload-frame {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#upload-button {
    display: none;
}

#upload-image {
    height: 5rem;
    padding: 0.5rem;
}
.upload-frame:hover {
    background: rgba(0, 0, 0, 0.2);
}

.upload-queue {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    margin: 1rem;
    flex-direction: column;
}
.upload-notification {
    border-radius: 0.5rem;
    background: rgb(236, 236, 236);
    opacity: 1;
    color: black;
    padding: 2rem;
    font-size: x-large;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    max-width: 50rem;
    
    transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
}

#paste-button {
    display: none;
}