#buttons-menu {
    margin: 0 auto;
    position: sticky;
    top: 0%;
}

.menu-button {
  background-color: #00d1b2;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 55px;
  line-height: 20px;
  list-style: none;
  margin: auto;
  outline: none;
  padding: 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  margin-right: 0;
}

.menu-button:hover,
.menu-button:focus {
  background-color: #00b89c;
}