#buttons-menu {
    margin: 0 auto;
    position: sticky;
    top: 0%;
}

#buttons-menu { justify-content: flex-end; }
#upload-button {
  display: none;
  visibility: hidden;
}

img.menu-button { max-width: 100%; max-height: 100%; }
.menu-button, .selection-button {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;

  height: 5.6rem;
  margin: auto;
  outline: none;
  padding: 1.3rem;
  position: relative;

  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#selection-buttons div {
  display: none;
}

.selection-button {
  background-color: transparent;
  display: inline-block;
  align-items: center;
}
.selection-button:hover {
  background-color: #c0c0c0; 
}

.selection-button-label {
  display: inline-block;
  color: black;
  padding: .8rem;
}

#selection-buttons {
  display: none;
}

#buttons-menu {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-radius: 0.5rem;
}

.menu-button:hover,
.menu-button:focus {
  background-color: #00b89c;
}

#upload-queue {
  padding: 1.25rem;
  position: absolute;
  left: 0%;
  bottom: 0%;
  z-index: 3;
}

.upload-item {
  color: black;
  background-color: white;
  border-color: #4a4a4a;
  border-radius: 0.5rem;
  box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
  padding: 1.25rem;
  margin-block: 1rem auto;
}

img.gallery-item, .item-overlay {
  height: 15rem;
  position: relative;
  display: inline-block;
}

.overlay-content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideup {
  0% {top: 0px;}
  75% {top: 0px;}
  100% {top: -20px;}
}

.item-overlay, .select-button, .gallery-item {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.item-overlay:after, .item-overlay:before {
  position: absolute;
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.item-overlay:after {
  content:'\A';
  width:100%; height:100%;
  top:0; left:0;
  background-color:rgba(0,0,0,0.6);
}
.item-overlay:before {
  content: attr(data-content);
  /* width:100%; */
  color:#fff;
  z-index: 1;
  bottom: 0;
  padding: 4px 10px;
  text-align: center;
  background: transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.select-button {
  position: absolute;
  top: 0;
  left: 0;
  margin: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 1;

  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.item-overlay:hover:after, .item-overlay:hover:before{
  opacity: 1;
}

.select-button:hover {
  opacity: 1;
}

.context-menu {
  display: none;
  position: absolute;
  text-align: center;
  background: rgb(153, 153, 153);
  box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
  border-radius: .5rem;
  z-index: 3;
}

.context-menu ul {
  padding: 0px;
  margin: 0px;
  min-width: 150px;
  list-style: none;
}

.context-menu ul li {
  margin-bottom: .3rem;
  margin-top: .3rem;
  border-radius: .5rem;
}

.context-menu ul li a {
  text-decoration: none;
  color: black;
}

.context-menu ul li:hover {
  background: rgb(57, 91, 79);
}

#viewer, #viewer-img, .viewer-lens, .viewer-img-zoom {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;

  background-color: rgb(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  display: none;
}

#viewer-img {
  height: 90%;
  cursor: zoom-in;
}

.viewer-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  width: 300px;
  height: 300px;
  opacity: 0;

  transition: opacity 150ms;
  -webkit-transition: opacity 150ms;
}

.viewer-img-zoom {
  border: 1px solid #d4d4d4;
  padding-left: 50%;
  height: 90%;
  overflow: hidden;
  background-repeat: no-repeat;
  opacity: 0.9;
  position: relative;
}

.viewer-menu {
  width: 100%;
  height: 2rem;
  background: red;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

#gallery-container {
  position: absolute;
  right: 0;
}

.zoom-notif {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#info-button {
  display: none;
}

.info-panel {
  display: none;
  position: absolute;
  flex-direction: column;
  right: 0;
  bottom: 0;

  background: white;
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  border-bottom-right-radius: 0;
  z-index: 6;
  user-select: text;
  -webkit-user-select: text;

  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
}

.info-row {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.info-row h1 {
  color: black;
  padding-inline: 1rem;
}

.notification-overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 7;
}
.notification {
  background: rgba(255, 255, 255);
  display: flex;
  border-radius: 0.5rem;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 1rem;
}

#confirm-button {
  background: #b8b2b2;
}
#confirm-button:hover {
  background: #7e7e7e;
}

#cancel-button {
  background: #00b89c;
}
#cancel-button:hover {
  background: #09907b;
}

.row {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
}

.row h1 {
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}