.header {
    font-size: 36px;
    color: rgb(238, 238, 238);
    font-weight: 500;
    text-align: left;
}

.subheader {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 40px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.email, .password {
    padding-block-end: 8%;
}

#email-text:hover {
    color: blue;
}

.email-tooltip, .password-tooltip {
    visibility: hidden;
    width: 140px;
    color: #ffffffad;
    text-align: left;
    border-radius: 6px;

    margin: 5px;
    margin-left: 40px;
}

#email-text:hover + .email-tooltip {
    visibility: visible;
}



#password-text {
    color: transparent;
    text-shadow: 0 0 12px rgb(255, 255, 255);
}

#password-text:hover {
    text-shadow: 0 0 12px rgb(30, 0, 255);
}

#password-text:hover + .password-tooltip {
    visibility: visible;
}

#password-text:hover + .password-tooltip:hover + .password-tooltip {
    visibility: visible;
}



#change-password {
    padding: 15px;
    margin: 60px auto;

    display: none;
}

#password-notification {
    margin: 40px auto;

}


/* Settings */

.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3.4rem;
  margin: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.6rem;
  width: 2.6rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 0.1rem #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2.6rem);
  -ms-transform: translateX(2.6rem);
  transform: translateX(2.6rem);
}

.slider {
  border-radius: 3.6rem;
}

.slider:before {
  border-radius: 50%;
}

.settings-container {
    display: flex;
    position: relative;
    width: 60rem;
    margin: auto;
    flex-direction: column;
    width: 100%;
}
.setting {
    width: 100%;
    padding: 2rem;
    display: flex;
    position: relative;
    align-items: center;
}
.setting h1 {
    font-size: x-large;
    font-weight: 300;
}